{
    "openapi": "3.0.1",
    "info": {
        "title": "SAP",
        "description": "This service is located at [https://services.OData.org/service-root/](https://services.OData.org/service-root/)\n\n## Entity Data Model\n![ER Diagram](https://yuml.me/diagram/class/[BusinessPartner{bg:orange}],[BusinessPartner]++-[CT_Address],[BusinessPartner]-*>[SalesOrder{bg:orange}],[BusinessPartner]-*>[Contact{bg:orange}],[BusinessPartner]-*>[Product{bg:orange}],[Product{bg:orange}],[Product]->[BusinessPartner{bg:orange}],[Product]-*>[SalesOrderLineItem{bg:orange}],[SalesOrder{bg:orange}],[SalesOrder]->[BusinessPartner{bg:orange}],[SalesOrder]-*>[SalesOrderLineItem{bg:orange}],[SalesOrderLineItem{bg:orange}],[SalesOrderLineItem]->[SalesOrder{bg:orange}],[SalesOrderLineItem]->[Product{bg:orange}],[Contact{bg:orange}],[Contact]++-[CT_Address],[Contact]->[BusinessPartner{bg:orange}],[VH_Sex{bg:orange}],[VH_Country{bg:orange}],[VH_AddressType{bg:orange}],[VH_Category{bg:orange}],[VH_Currency{bg:orange}],[VH_UnitQuantity{bg:orange}],[VH_UnitWeight{bg:orange}],[VH_UnitLength{bg:orange}],[VH_ProductTypeCode{bg:orange}],[VH_BPRole{bg:orange}],[VH_Language{bg:orange}],[CT_Address],[CT_String],[BusinessPartnerSet{bg:dodgerblue}]++-*>[BusinessPartner],[ProductSet{bg:dodgerblue}]++-*>[Product],[SalesOrderSet{bg:dodgerblue}]++-*>[SalesOrder],[SalesOrderLineItemSet{bg:dodgerblue}]++-*>[SalesOrderLineItem],[ContactSet{bg:dodgerblue}]++-*>[Contact],[VH_SexSet{bg:dodgerblue}]++-*>[VH_Sex],[VH_CountrySet{bg:dodgerblue}]++-*>[VH_Country],[VH_AddressTypeSet{bg:dodgerblue}]++-*>[VH_AddressType],[VH_CategorySet{bg:dodgerblue}]++-*>[VH_Category],[VH_CurrencySet{bg:dodgerblue}]++-*>[VH_Currency],[VH_UnitQuantitySet{bg:dodgerblue}]++-*>[VH_UnitQuantity],[VH_UnitWeightSet{bg:dodgerblue}]++-*>[VH_UnitWeight],[VH_UnitLengthSet{bg:dodgerblue}]++-*>[VH_UnitLength],[VH_ProductTypeCodeSet{bg:dodgerblue}]++-*>[VH_ProductTypeCode],[VH_BPRoleSet{bg:dodgerblue}]++-*>[VH_BPRole],[VH_LanguageSet{bg:dodgerblue}]++-*>[VH_Language],[RegenerateAllData{bg:dodgerblue}]->[CT_String],[SalesOrder_Confirm{bg:dodgerblue}]->[SalesOrder],[SalesOrder_Cancel{bg:dodgerblue}]->[SalesOrder],[SalesOrder_InvoiceCreated{bg:dodgerblue}]->[SalesOrder],[SalesOrder_GoodsIssueCreated{bg:dodgerblue}]->[SalesOrder])\n\n### Legend\n![Legend](https://yuml.me/diagram/plain;dir:TB;scale:60/class/[External.Type{bg:whitesmoke}],[ComplexType],[EntityType{bg:orange}],[EntitySet/Singleton/Operation{bg:dodgerblue}])",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://apim-mcp-60490373.azure-api.net/SAP"
        }
    ],
    "paths": {
        "/BusinessPartnerSet": {
            "get": {
                "tags": [
                    "BusinessPartnerSet"
                ],
                "summary": "Get entities from BusinessPartnerSet",
                "description": "Get entities from BusinessPartnerSet",
                "operationId": "get-businesspartnerset",
                "parameters": [
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of BusinessPartner",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BusinessPartnerSet"
                ],
                "summary": "Add new entity to BusinessPartnerSet",
                "description": "Add new entity to BusinessPartnerSet",
                "operationId": "post-businesspartnerset",
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "BusinessPartner",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/BusinessPartnerSet('{BusinessPartnerID}')": {
            "get": {
                "tags": [
                    "BusinessPartnerSet"
                ],
                "summary": "Get entity from BusinessPartnerSet by key",
                "description": "Get entity from BusinessPartnerSet by key",
                "operationId": "get-businesspartnerset-businesspartnerid",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "BusinessPartner",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "BusinessPartnerSet"
                ],
                "summary": "Update entity in BusinessPartnerSet",
                "description": "Update entity in BusinessPartnerSet",
                "operationId": "patch-businesspartnerset-businesspartnerid",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified BusinessPartner",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner-update"
                                    }
                                }
                            },
                            "example": {
                                "d": {
                                    "Address": {
                                        "City": "string",
                                        "PostalCode": "string",
                                        "Street": "string",
                                        "Building": "string",
                                        "Country": "string",
                                        "AddressType": "string"
                                    },
                                    "CompanyName": "string",
                                    "WebAddress": "string",
                                    "EmailAddress": "string",
                                    "PhoneNumber": "string",
                                    "FaxNumber": "string",
                                    "LegalForm": "string",
                                    "CurrencyCode": "string",
                                    "BusinessPartnerRole": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "BusinessPartnerSet"
                ],
                "summary": "Delete entity from BusinessPartnerSet",
                "description": "Delete entity from BusinessPartnerSet",
                "operationId": "delete-businesspartnerset-businesspartnerid",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/BusinessPartnerSet('{BusinessPartnerID}')/ToSalesOrders": {
            "get": {
                "tags": [
                    "BusinessPartnerSet",
                    "SalesOrderSet"
                ],
                "summary": "Get entities from related ToSalesOrders",
                "description": "Get entities from related ToSalesOrders",
                "operationId": "get-businesspartnerset-businesspartnerid-tosalesorders",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SalesOrder",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BusinessPartnerSet",
                    "SalesOrderSet"
                ],
                "summary": "Add new entity to related ToSalesOrders",
                "description": "Add new entity to related ToSalesOrders",
                "operationId": "post-businesspartnerset-businesspartnerid-tosalesorders",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrder",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/BusinessPartnerSet('{BusinessPartnerID}')/ToContacts": {
            "get": {
                "tags": [
                    "BusinessPartnerSet",
                    "ContactSet"
                ],
                "summary": "Get entities from related ToContacts",
                "description": "Get entities from related ToContacts",
                "operationId": "get-businesspartnerset-businesspartnerid-tocontacts",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of Contact",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.Contact"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BusinessPartnerSet",
                    "ContactSet"
                ],
                "summary": "Add new entity to related ToContacts",
                "description": "Add new entity to related ToContacts",
                "operationId": "post-businesspartnerset-businesspartnerid-tocontacts",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.Contact-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Contact",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.Contact"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/BusinessPartnerSet('{BusinessPartnerID}')/ToProducts": {
            "get": {
                "tags": [
                    "BusinessPartnerSet",
                    "ProductSet"
                ],
                "summary": "Get entities from related ToProducts",
                "description": "Get entities from related ToProducts",
                "operationId": "get-businesspartnerset-businesspartnerid-toproducts",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of Product",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BusinessPartnerSet",
                    "ProductSet"
                ],
                "summary": "Add new entity to related ToProducts",
                "description": "Add new entity to related ToProducts",
                "operationId": "post-businesspartnerset-businesspartnerid-toproducts",
                "parameters": [
                    {
                        "name": "BusinessPartnerID",
                        "in": "path",
                        "description": "Bus. Part. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Product",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ProductSet": {
            "get": {
                "tags": [
                    "ProductSet"
                ],
                "summary": "Get entities from ProductSet",
                "description": "Get entities from ProductSet",
                "operationId": "get-productset",
                "parameters": [
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions, for example Name desc or Price desc",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return, for example ProductID,Name,SupplierName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand, for example ToSupplier,ToSalesOrderLineItems",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of Product",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ProductSet"
                ],
                "summary": "Add new entity to ProductSet",
                "description": "Add new entity to ProductSet",
                "operationId": "post-productset",
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Product",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ProductSet('{ProductID}')": {
            "get": {
                "tags": [
                    "ProductSet"
                ],
                "summary": "Get entity from ProductSet by key",
                "description": "Get entity from ProductSet by key",
                "operationId": "get-productset-productid",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Product",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ProductSet"
                ],
                "summary": "Update entity in ProductSet",
                "description": "Update entity in ProductSet",
                "operationId": "patch-productset-productid",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified Product",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.Product-update"
                                    }
                                }
                            },
                            "example": {
                                "d": {
                                    "TypeCode": "string",
                                    "Category": "string",
                                    "Name": "string",
                                    "Description": "string",
                                    "SupplierID": "string",
                                    "TaxTarifCode": 0,
                                    "MeasureUnit": "string",
                                    "WeightMeasure": "0",
                                    "WeightUnit": "string",
                                    "CurrencyCode": "string",
                                    "Price": "0",
                                    "Width": "0",
                                    "Depth": "0",
                                    "Height": "0",
                                    "DimUnit": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "ProductSet"
                ],
                "summary": "Delete entity from ProductSet",
                "description": "Delete entity from ProductSet",
                "operationId": "delete-productset-productid",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ProductSet('{ProductID}')/ToSupplier": {
            "get": {
                "tags": [
                    "ProductSet",
                    "BusinessPartnerSet"
                ],
                "summary": "Get related ToSupplier",
                "description": "Get related ToSupplier",
                "operationId": "get-productset-productid-tosupplier",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "BusinessPartner",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ProductSet('{ProductID}')/ToSalesOrderLineItems": {
            "get": {
                "tags": [
                    "ProductSet",
                    "SalesOrderLineItemSet"
                ],
                "summary": "Get entities from related ToSalesOrderLineItems",
                "description": "Get entities from related ToSalesOrderLineItems",
                "operationId": "get-productset-productid-tosalesorderlineitems",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SalesOrderLineItem",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ProductSet",
                    "SalesOrderLineItemSet"
                ],
                "summary": "Add new entity to related ToSalesOrderLineItems",
                "description": "Add new entity to related ToSalesOrderLineItems",
                "operationId": "post-productset-productid-tosalesorderlineitems",
                "parameters": [
                    {
                        "name": "ProductID",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrderLineItem",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderSet": {
            "get": {
                "tags": [
                    "SalesOrderSet"
                ],
                "summary": "Get entities from SalesOrderSet",
                "description": "Get entities from SalesOrderSet",
                "operationId": "get-salesorderset",
                "parameters": [
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SalesOrder",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "SalesOrderSet"
                ],
                "summary": "Add new entity to SalesOrderSet",
                "description": "Add new entity to SalesOrderSet",
                "operationId": "post-salesorderset",
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrder",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderSet('{SalesOrderID}')": {
            "get": {
                "tags": [
                    "SalesOrderSet"
                ],
                "summary": "Get entity from SalesOrderSet by key",
                "description": "Get entity from SalesOrderSet by key",
                "operationId": "get-salesorderset-salesorderid",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrder",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "SalesOrderSet"
                ],
                "summary": "Delete entity from SalesOrderSet",
                "description": "Delete entity from SalesOrderSet",
                "operationId": "delete-salesorderset-salesorderid",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/SalesOrderSet('{SalesOrderID}')/ToBusinessPartner": {
            "get": {
                "tags": [
                    "SalesOrderSet",
                    "BusinessPartnerSet"
                ],
                "summary": "Get related ToBusinessPartner",
                "description": "Get related ToBusinessPartner",
                "operationId": "get-salesorderset-salesorderid-tobusinesspartner",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "BusinessPartner",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.BusinessPartner"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderSet('{SalesOrderID}')/ToLineItems": {
            "get": {
                "tags": [
                    "SalesOrderSet",
                    "SalesOrderLineItemSet"
                ],
                "summary": "Get entities from related ToLineItems",
                "description": "Get entities from related ToLineItems",
                "operationId": "get-salesorderset-salesorderid-tolineitems",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SalesOrderLineItem",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "SalesOrderLineItemSet",
                    "SalesOrderSet"
                ],
                "summary": "Add new entity to related ToLineItems",
                "description": "Add new entity to related ToLineItems",
                "operationId": "post-salesorderset-salesorderid-tolineitems",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrderLineItem",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderLineItemSet": {
            "get": {
                "tags": [
                    "SalesOrderLineItemSet"
                ],
                "summary": "Get entities from SalesOrderLineItemSet",
                "description": "Get entities from SalesOrderLineItemSet",
                "operationId": "get-salesorderlineitemset",
                "parameters": [
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Show only the first n items, see [Paging - Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip the first n items, see [Paging - Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inlinecount",
                        "in": "query",
                        "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
                        "schema": {
                            "enum": [
                                "allpages",
                                "none"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Comma-separated ordering expressions",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SalesOrderLineItem",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "SalesOrderLineItemSet"
                ],
                "summary": "Add new entity to SalesOrderLineItemSet",
                "description": "Add new entity to SalesOrderLineItemSet",
                "operationId": "post-salesorderlineitemset",
                "requestBody": {
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrderLineItem",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderLineItemSet(SalesOrderID='{SalesOrderID}',ItemPosition='{ItemPosition}')": {
            "get": {
                "tags": [
                    "SalesOrderLineItemSet"
                ],
                "summary": "Get entity from SalesOrderLineItemSet by key",
                "description": "Get entity from SalesOrderLineItemSet by key",
                "operationId": "get-salesorderlineitemset-salesorderid-salesorderid-itemposition-itempositio",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "ItemPosition",
                        "in": "path",
                        "description": "PO Item Pos",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrderLineItem",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "SalesOrderLineItemSet"
                ],
                "summary": "Update entity in SalesOrderLineItemSet",
                "description": "Update entity in SalesOrderLineItemSet",
                "operationId": "patch-salesorderlineitemset-salesorderid-salesorderid-itemposition-itemposit",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "ItemPosition",
                        "in": "path",
                        "description": "PO Item Pos",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SalesOrderLineItem",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrderLineItem-update"
                                    }
                                }
                            },
                            "example": {
                                "d": {
                                    "ProductID": "string",
                                    "Note": "string",
                                    "DeliveryDate": "2017-04-13T03:51:04.0000000+00:00",
                                    "Quantity": "0"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "SalesOrderLineItemSet"
                ],
                "summary": "Delete entity from SalesOrderLineItemSet",
                "description": "Delete entity from SalesOrderLineItemSet",
                "operationId": "delete-salesorderlineitemset-salesorderid-salesorderid-itemposition-itemposi",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "ItemPosition",
                        "in": "path",
                        "description": "PO Item Pos",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/SalesOrderLineItemSet(SalesOrderID='{SalesOrderID}',ItemPosition='{ItemPosition}')/ToHeader": {
            "get": {
                "tags": [
                    "SalesOrderLineItemSet",
                    "SalesOrderSet"
                ],
                "summary": "Get related ToHeader",
                "description": "Get related ToHeader",
                "operationId": "get-salesorderlineitemset-salesorderid-salesorderid-itemposition-itempositio-1",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "ItemPosition",
                        "in": "path",
                        "description": "PO Item Pos",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Supported values: json, xml",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SalesOrder",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/GWSAMPLE_BASIC.SalesOrder"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SalesOrderLineItemSet(SalesOrderID='{SalesOrderID}',ItemPosition='{ItemPosition}')/ToProduct": {
            "get": {
                "tags": [
                    "SalesOrderLineItemSet",
                    "ProductSet"
                ],
                "summary": "Get related ToProduct",
                "description": "Get related ToProduct",
                "operationId": "get-salesorderlineitemset-salesorderid-salesorderid-itemposition-itempositio-2",
                "parameters": [
                    {
                        "name": "SalesOrderID",
                        "in": "path",
                        "description": "Sa. Ord. ID",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "ItemPosition",
                        "in": "path",
                        "description": "PO Item Pos",
                        "required": true,
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated list of fields to return",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Comma-separated related entities to expand",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
[...]
